@import '../../styles/variables';

.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    background-color: $offset-bg;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 1.25rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0);
    transform: scale(1);
    margin: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 12px 0 $bg;
    }

    p {
        margin: 0;
        margin-left: 0.25rem;
    }
}