@import '../../styles/variables';

.section-break {
    $section-height: 6rem;
    display: inline-flex;
    width: 100%;
    position: absolute;
    top: calc(#{$section-height} / -2);
    left: 0;

    .break-half {
        width: 50%;
        height: $section-height;
        background-color: $primary;
        z-index: 100;
    
        &.left {
            transform: skewX(5deg) rotateZ(5deg);
        }
    
        &.right {
            transform: skewX(-5deg) rotateZ(-5deg);
        }
    }
}
